<form #login="ngForm" (ngSubmit)="onSubmit(login.value)">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" placeholder="Enter username" name="username" id="username" ngModel>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" placeholder="Enter password" name="password" id="password" ngModel>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
