<table class="table table-hover" *ngIf="id == -1">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of people, index as i">
    <td><a routerLink="/people/{{i}}">{{person.name}}</a></td>
    <td>{{person.address}}</td>
  </tr>
  </tbody>
</table>

<table class="table table-hover" *ngIf="id > -1">
  <thead class="thead-dark">
  <tr>
    <th colspan="2">{{people[id].name}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Date of birth</td>
    <td>{{people[id].dateOfBirth}}</td>
  </tr>
  <tr>
    <td>Address</td>
    <td>{{people[id].address}}</td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>{{people[id].phone}}</td>
  </tr>
  </tbody>
</table>
