<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="/">Catalog</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="!authService.isAuthenticated">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item" *ngIf="authService.isAuthenticated">
      <a class="nav-link" routerLink="/people">People</a>
    </li>
    <li class="nav-item" *ngIf="authService.isAuthenticated">
      <a class="nav-link" (click)="authService.logout()">Logout</a>
    </li>
  </ul>

</nav>

<div class="container">
<router-outlet></router-outlet>
</div>
